body {
  display: flex;
  justify-content: center;
}
.rettangolo_verticale{
  width: 100px;
  border: 1px solid black;
}
.quadrato {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colore_giallo {
  background-color: yellow;
}
.colore_verde{
  background-color: green;
  display: flex;

}
